{% extends 'base.html' %}
{% block content %}
<section class="container-fluid py-5 bg-light border border-top">
    <div class="row justify-content-center">
        <div class="col-6 d-flex flex-column align-items-center">
            <div class="col">
                <h1 class="border-bottom-g animated fadeIn">
                    CONTACT
                </h1>
            </div>
            <div class="col-10 my-4">
                
                   <p class="small animated fadeIn">
                        Should you have any questions, we are here to assist you.
                    </p>
                   <p class="small animated fadeIn">
                        You can send us an email using the form below or contact us via WhatsApp at 1163356190.
                   </p>
                   <p class="small animated fadeIn">
                        You can also follow us and message us on Facebook and Instagram.
                   </p>
            </div>
            <div class="col-10 mt-3 mb-5 animated fadeIn">
                <div class="row">
                    <form action="" class="row">
                    {% csrf_token %}
                        <div class="input-group">
                            <input type="text" placeholder="Your name" class="form-control rounded-0 me-2">
                    
                            <input type="text" placeholder="Your email address" class="form-control rounded-0 ms-2">
                        </div>

                        <div class="input-group">
                            <input type="textarea" placeholder="Your message" class="col-12 form-control rounded-0 my-4 pb-5">
                        </div>
    
                        <div class="input">
                            <button type="submit" class="btn btn-success rounded-0 col-12">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
```