*{
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

.border-top-g{
    border-top: #00833E solid 4px;;
}

.border-bottom-g{
    border-bottom: #00833E solid 4px;;
}

.border-animation{
    border-bottom: #f8f9fa solid 2px;
    transition: all 0.4s ease-in-out;
}

.border-animation:hover{
    border-bottom: #00833E solid 2px;
}

.small{
    font-size:0.6rem;
}

.medium{
    font-size:0.8rem;
}

#header-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navbar-icons{
        cursor: pointer;
    }

    & .offcanvaboostrapmd{
        display: none;
    }
}

.btn-g{
    background-color: #00833E;
    color: white;
    font-weight: 600;
}

.btn-g:hover{
    background-color: #035328;
}

/* section 1 */
.s1-background{
    background-image: url(../images/s1fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
	height: 550px;
}

.s1-opacity{
    background-color: rgba(0, 0 , 0, 0.60);
    height: 100%;
    color: white;
}
#requestConsultation a{
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}
#requestConsultation a:hover{
    background-color: rgba(0, 0, 0, 0.20);
}

/* section 2 */
.pathology-div{
    background-color: #D3D3D3;
    border: 1px solid #dee2e6;
    transition: all 0.5s ease;
}

.pathology-div:hover{
    background-color: #f8f9fa;
    border: 1px solid #00833E;
}
/* section 3 carrousel*/
.s3-backgrounds{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	height: 420px;
}

.s3-background-1{
    background-image: url(../images/s3fondo1.jpg);
}

.s3-background-2{
    background-image: url(../images/s3fondo2.jpg);
}

.s3-background-3{
    background-image: url(../images/s3fondo3.jpg);
}

.img-shop{
    transform: scale(1.2);
    transition: transform 7.0s ease;
}

.img-shop:hover{
    transform: scale(1.5);
}

.col-shop-img {
    position: relative;
    overflow: hidden; 
}

.col-shop-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 1
  }

.div-shop{
    position: absolute;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    z-index: 2;

    & p{
        margin: 0;
    }

    & .brand{
        font-size: 3.5rem;
        font-weight: 700;
    }
}

.shop-product{
    background-color: white;
    transition: background-color 0.5s ease;
}
/* colores para backgorund para hovers oscuros

*/
.shop-product:hover{
    background-color: #D3D3D3;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media all and (max-width: 991px) {
    #header-buttons{
        display: block;
        align-items: none;
        justify-content: none;

        & .offcanvaboostrapmd{
            display: block;
        }

        & .offcanvaboostraplg{
            display: none;
        }
    }
    
    #shipping{
        display: none;
    }
}

