{% load static %}
<section id="s4" class="container-fluid bg-light py-5">
    <div class="row">
        <div class="col text-center">
            <p class="display-3 pt-4">
                <span class="border-bottom-g">
                     SHOP
                </span>
            </p>
        </div>
    </div>
    <div class="row pb-4 ">
        <div class="col text-center">
            <p class="fw-semibold fs-4">
                Quality and design at the best price.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-lg-4 me-md-3 overflow-hidden col-shop-img">
            <img src="{% static 'images/shop-1.png' %}" alt="" class="img-fluid img-shop">
            <div class="div-shop">
                <p class="fw-semibold">OUR OWN BRAND.</p>
                <p class="brand">Eyexs</p>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 overflow-hidden col-shop-img">
            <img src="{% static 'images/shop-2.png' %}" alt="" class="img-fluid img-shop">
            <div class="div-shop">
                <p class="fw-semibold fs-4">Goodbye to insomnia</p>
                <p class="fw-semibold">UP TO 50% OFF</p>
            </div>
        </div>
    </div>

    <div id="s4-shop" class="container">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <p class="fw-semibold fs-5">
                    BESTSELLERS
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-evenly">
                    {% for product in products %}
                    <div class="col-5 col-md-3 col-lg-3 p-2 rounded-3 mb-4 mx-1 h-100   shop-product animated fast">
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top rounded-3 mb-1" alt="{{ product.name }}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-9">
                                        <p id="shipping" class="btn btn-success rounded-pill small mb-1">FREE SHIPPING</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary fw-semibold">{{ product.name }}</p>
                                        <p class="fw-semibold small text-black">$ {{ product.price }}</p>
                                        <a class="btn btn-success small w-100 fs-6" href="{% url 'add_to_cart' product.id %}">ADD TO CART</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 
</section>
