<div class="container py-5">
    <div class="row pt-3">
        <div class="col">
            <p>
                <a href="{% url 'home' %}" class="text-black border-animation fw-semibold">
                    ONLINE STORE
                </a>
            </p>
        </div>
        <div class="col">
            <p>
                <a href="{% url 'contact' %}" class="text-black border-animation fw-semibold">
                    CONTACT
                </a>
            </p>    
        </div>
        <div class="col">
            <p>
                <a href="https://maps.app.goo.gl/29raQ1Z7rvMTB2pi6" target="_blank" class="text-black border-animation border-animation fw-semibold">
                BRANCH</a>
                <p>
                    Touring Club Argentino, Villa San Nicolas, Córdoba
                </p>
            </p>
        </div>
    </div>
    <p>&copy; Optica San Nicolas 2023</p>
</div>