<div class="container py-5">
    <div class="row pt-3">
        <div class="col">
            <p>
                <a href="{% url 'home' %}" class="text-black border-animation fw-semibold">
                    TIENDA ONLINE
                </a>
            </p>
        </div>
        <div class="col">
            <p>
                <a href="{% url 'contact' %}" class="text-black border-animation fw-semibold">
                    CONTACTO
                </a>
            </p>    
        </div>
        <div class="col">
            <p>
                <a href="" class="text-black border-animation border-animation fw-semibold">
                SUCURSAL</a>
                <p>
                    Av. Colón 333
                    5000 Córdoba
                    Córdoba
                    Argentina
                </p>
            </p>
        </div>
    </div>
    <p>&copy; Optica San Nicolas 2023</p>
</div>